body{
    margin: 0;
}

header{
    background-color: #303c54;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.portalName{
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    align-items: center;
}

.portalName img{
    width: 5vw;
    height: 5vw;
    margin-right: -1vw;
}

.portalName h1{
    font-size: 1.5vw;
}

.bgImg{
    position: fixed;
    z-index: -1;
}

.fondo {
    width: 100vw;
    height: 70vh;
}

.formContainer{
    margin-top: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10vw;
}

.formLogin {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 21vw;
}

.recoverPassword{
    text-decoration: none;
}
